html
    head
        title Music Album Search
        style * {font-size: 36pt;}
    body
        form(action="search", method="get")
            fieldset
                legend Music Album Search
                input(type="text", name="q", id="q")
                input(type="submit", value="Search")
            